body {
  display: grid;
  place-items: center;
  margin-top: 6em;
}

.backGround {
  background-image: url("https://images.unsplash.com/photo-1613057158118-ee6ed0b3c012?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  width: 60vw;
  height: 75vh;
  z-index: -1;
}

.characterCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: rgba(238, 238, 238, 0.3);
  backdrop-filter: blur(3px);
  z-index: -1;
}

.information {
  width: 40vw;
  height: 50vh;
  border-radius: 1em;
  background-color: rgba(238, 238, 238, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.generalInfo {
  margin-left: 2em;
  padding-left: 3em;
  width: 15vw;
  border-style: none none double;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: rgb(70, 136, 169);
}

h3 {
  font-family: "Kanit", sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  height: 1em;
}

.specificInfo {
  margin-left: 2em;
  padding-left: 3em;
  width: 15vw;
}

.specificInfo p {
  margin: 10px;
}

.avatarContainer {
  position: absolute;
  right: 1em;
  z-index: 5;
  display: grid;
  place-items: center;
  height: 60vh;
  width: 30vw;
}

.avatarContainer img {
  width: 80%;
  height: 80%;
}

.submitButton {
  border-radius: 50%;
  border-style: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-left: 3em;
}

.submitButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
